/*=============== VARIABLES CSS ===============*/
:root {
/* Altura del header */
    --header-height: 3.5rem;

/* Colores */
    --primary-color: #4CAF50;
    --accent-color: #f96060;
    --text-dark: #333;
    --text-light: #666;
    --text-white: #ffffff;
    --bg-light: #f8f8f8; 
    --bg-white: #ffffff;

/* otras variables */
    --shadow: 0 2px 10px rgba(0,0,0,0.1);
    --shadow-hover: 0 5px 20px rgba(0,0,0,0.15);
    --border-radius: 10px;
    --transition: all 0.3s ease;

/* Fuentes */
    --font-Vend-Sans: "Vend Sans", sans-serif;
    --font-Overlock: "Overlock", sans-serif;
    --font-Agbalumo: "Agbalumo", sans-serif;
}

/*=============== RESET ===============*/
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html { 
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
    text-wrap-mode: balance;
    display: grid;
    font-family: var(--font-Vend-Sans);
}

body {
    background: var(--bg-light);
    font-size: 1.4rem;
}

a { 
    text-decoration: none;
}

ul { 
    list-style: none; 
}

img { 
    max-width: 100%; 
}

/*=============== Utilidades ===============*/

[class$="__container"] {
    width: 100%;
    display: grid;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

[class*="__btn"] {
    padding: 1.2rem;
    border: none;
    margin: auto;
    font-family: var(--font-Overlock);
    border-radius: var(--border-radius);
    transition: var(--transition);
    cursor: pointer;
}

/* Botones */
.btn--primary {
    background: var(--primary-color);
    color: white;
}

.btn--primary:hover {
    background: var(--accent-color);
    box-shadow: var(--shadow-hover);
}

section {
    background: var(--bg-white);
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

.section__title {
    font-family: var(--font-Overlock);
    color: var(--text-dark);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 2rem;
    text-align: center;
    position: relative;
}

.section__title::after {
content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    border: 2px dotted var(--primary-color);
}

@media (min-width: 768px) {
    body {
    font-size: 1.5rem;
    }
}