/*=============== VARIABLES CSS ===============*/
:root {
/* Colores */
    --primary-color: #4CAF50;
    --primary-color-hover: #146918;
    --secondary-color: #607D8B;
    --secondary-color-hover: #455A64;
    --accent-color: #146918;
    --cancel-color: #ff7675;
    --text-dark: #333;
    --text-light: #666;
    --text-white: #ffffff;
    --bg-light: #f8f8f8; 
    --bg-white: #ffffff;

/* otras variables */
    --shadow: 0 2px 10px rgba(0,0,0,0.1);
    --shadow-hover: 0 5px 20px rgba(0,0,0,0.15);
    --border-radius: 10px;
    --transition: all 0.3s ease;

/* Fuentes */
    --font-Vend-Sans: "Vend Sans", sans-serif;
    --font-Overlock: "Overlock", sans-serif;
    --font-Agbalumo: "Agbalumo", sans-serif;
}

/*=============== RESET ===============*/
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html { 
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
    text-wrap: balance; /* Propiedad actualizada, soporte limitado en navegadores */
    font-family: var(--font-Vend-Sans);
}

body {
    display: grid;
    background: var(--bg-light);
    font-size: 1.4rem;
}

a { 
    text-decoration: none;
}

ul { 
    list-style: none; 
}

img { 
    max-width: 100%; 
}

/*=============== Utilidades ===============*/

.container { /* Selector simplificado para mayor claridad */
    width: 100%;
    display: grid;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn { /* Clase base para botones, más estándar y legible */
    padding: 1.2rem;
    border: none;
    font-family: var(--font-Overlock);
    border-radius: var(--border-radius);
    transition: var(--transition);
    cursor: pointer;
    box-shadow: var(--shadow);
}
.btn:hover {
    box-shadow: var(--shadow-hover);
}

/* Botones */
.btn--primary {
    background: var(--primary-color);
    color: var(--text-white);
}

.btn--primary:hover {
    background: var(--primary-color-hover);
}

.btn--secondary {
    background: var(--secondary-color);
    color: var(--text-white);
}

.btn--secondary:hover {
    background: var(--secondary-color-hover);
}

section {
    background: var(--bg-white);
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

.section__title {
    font-family: var(--font-Overlock);
    color: var(--text-dark);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 2rem;
    text-align: center;
    position: relative;
}

.section__title::after {
content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%; /* Ancho relativo para mejor adaptabilidad */
    height: 2px;
    border: 2px dotted var(--primary-color);
}

@media (min-width: 768px) {
    body {
    font-size: 1.5rem;
    }
}

/*=============== MENU OVERLAY ===============*/
body.menu-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}