/*=============== HEADER & NAV ===============*/

/*
320px — 480px: Dispositivos móviles
*/

.header {
    display: grid;
    width: 100%;
    background-color: var(--bg-white);
    color: var(--text-dark);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.header__container {
    grid-template-columns: max-content 1fr max-content;
    justify-items: center;
    align-items: center;
    padding: 1.5rem;
}

.header__menu--toggle {
    background: #ffffff;
    border: 1px solid lavender;
    cursor: pointer;
    display: flex;
    align-items: center;
    max-height: 3rem;
    padding: 5px;
}

.header__logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Icono de barras del menú */

.header__logo-text {
color: var(--primary-color);
    font-family: var(--font-Agbalumo);
    font-size: 2.4rem;
    font-weight: 400;
    padding: 0 0 8px 0;
    cursor: pointer;
}

.header__logo-text:hover {
  scale: 1.1;
}

.header__nav {
    position: fixed;
    top: 0;
    left: -100%; /* Oculta el menú fuera de la pantalla */
    background-color: var(--bg-white);
    width: 60%;
    height: 100%;
    padding: 6rem 2rem 0;
    z-index: 3;
    transition: left 0.4s ease-in-out;
    box-shadow: -2px 0 8px hsla(0, 0%, 15%, 0.1);
}

.nav__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem; /* Tamaño de fuente base para enlaces */
  gap: 2rem;
}

.header__cart {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: flex-end;
    align-items: center;
}

.cart__content {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cart__icon {
    font-size: 1.8rem;
    color: var(--text-dark);
    cursor: pointer;
}

.cart__count {
    position: absolute;
    top: -1.2rem;
    right: -0.8rem;
    font-size: 1rem;
    color: var(--text-white);
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 0.4rem 0.6rem;

}

.nav__link {
    color: var(--title-color);
    font-family: var(--font-Overlock);
    font-size: 1.6rem;
    font-weight: 500;
    transition: color 0.3s;
    position: relative;
    padding-bottom: 0.5rem;
}

/* Indicador visual para el enlace activo o en hover */
.nav__link:hover::after,
.nav__link.active-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
}

.nav__link:hover, .cart__icon:hover, .header__menu--toggle:hover, .nav__close:hover {
  color: var(--primary-color);
}

.nav__close {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
    background: ghostwhite;
    border: 1px solid lavender;
    padding: 5px;
}

/* Clase que se añade con JS para mostrar el menú */
.show-menu {
  left: 0;
}

.header__menu--close {
  color: var(--primary-color);
}

/*
481px — 768px: iPads, tablets
*/
@media (min-width: 481px) {
  /* Ocultamos los botones de abrir/cerrar menú */
  .header__menu--toggle,
  .header__menu--close {
    display: none;
  }

  .header__container {
    grid-template-columns: max-content 1fr max-content;
    justify-content: space-between;
    padding: 1.5rem 2rem;
  }

  .header__nav {
    justify-self: center; /* Centra la navegación en el espacio disponible */
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: none;
  }

  .nav__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/*
769px — 1024px: pantallas pequeñas, ordenadores portátiles
*/
@media (min-width: 769px) {
  .header__container {
    gap: 3rem;
  }

}

/*
1025px — 1200px: pantallas grandes, ordenadores de escritorio
1201px y más —  pantallas extra-grandes, televisores
*/

