/*=============== HEADER & NAV ===============*/

/*
320px — 480px: smartphones
*/

.header {
    display: grid;
    width: 100%;
    background-color: var(--bg-white);
    color: var(--text-dark);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.header__container {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: 
    "menu logo cart";
    padding: 1.5rem;
}

.header__logo {
    grid-area: logo;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.header__logo-text {
  color: var(--primary-color);
  font-family: var(--font-Agbalumo);
  font-size: 2.4rem;
  font-weight: 400;
  padding: 0 0 8px 0;
  cursor: pointer;
}

.header__menu {
    grid-area: menu;
    display: grid;
    justify-content: center;    
}

.header__menu--overlay-active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-overlay);
    z-index: 2;
}

.header__logo-text:hover {
  transform: scale(1.1);
}

.header__nav {
    position: relative;
    display: flex;
    background-color: var(--bg-white);
    z-index: 3;
    transition: transform 0.4s ease-in-out;
    align-items: center;
    justify-content: center;
}

/* Modifier class to show menu | added with JS */
.header__menu-toggle--is-active {
    position: absolute;
}

.header__nav--is-open {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60%;
    box-shadow: var(--shadow);
    border-radius: 1rem;
}

.header__nav--is-open .header__nav-ul {
    position: absolute;
    flex-direction: column;
    display: flex;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.header__nav-ul {
  display: none;
  font-size: 1.6rem;
  gap: 2rem;
}

.header__menu-toggle {
    background-color: var(--bg-subtle);
    border: 1px solid var(--border-color-subtle);
    cursor: pointer;
    display: flex;
    align-items: center;
    max-height: 3rem;
    padding: 5px;
    z-index: 5; /* Asegura que esté visible */
}

/* Posiciona el botón de menú/cierre cuando el menú está activo */
.header__menu-toggle.is-active {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
}

.header__cart {
    grid-area: cart;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: flex-end;
}

.header__cart-content {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header__cart-icon {
    font-size: 1.8rem;
    color: var(--text-dark);
    cursor: pointer;
}

.header__cart-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -60%);
    font-size: 1rem;
    color: var(--text-white);
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 0.4rem 0.6rem;
}

.header__nav-link {
    color: var(--title-color);
    font-family: var(--font-Overlock);
    font-size: 1.6rem;
    font-weight: 500;
    transition: color 0.3s;
    position: relative;
    padding-bottom: 0.5rem;
}

.header__nav-link:hover::after,
.header__nav-link.active-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
}

.header__nav-link:hover, .header__cart-icon:hover, .header__menu-toggle:hover, .header__nav-close-btn:hover {
  color: var(--primary-color);
}

.header__nav-close-btn {
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
    background: var(--bg-subtle);
    border: 1px solid var(--border-color-subtle);
    padding: 5px;
}

/*
768px: iPads, tablets
*/
@media (min-width: 768px) {
  .header__menu-toggle,
  .header__nav-close-btn {
    display: none;
  }

  .header__container {
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: 
    "logo menu cart";
    justify-content: space-between;
    padding: 1.5rem 2rem;
  }

  .header__nav {
    position: relative;
    transform: translateX(0);
    box-shadow: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
  }

  .header__nav-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}

